<link rel="stylesheet" href="/styles/artists.css">

<section id="artists-page">
    {{#each artistsArr}}
    <div>

        {{#each this.images}}
        {{#ifEquals this.width 640}}
        <img src="{{this.url}}">
        {{/ifEquals}}
        {{/each}}

        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View Albums from {{this.name}} (I hope it's some Dragonball music. If not, go back and type in "Dragonball")</a>
    </div>
    {{/each}}
</section>