<link rel="stylesheet" href="/styles/home.css">

<section id="homepage">
    <form action="/artist-search" method="GET">
        <input type="text" placeholder ="Dragonball" name="artistSearch">
        <button>Look up some songs on "Chrissify" (hint: type in "Dragonball")</button>
    </form>
</section>